body{
    text-align: center;
    font-family: Roboto;
}
.images{


  margin-top: 30px;

}
img{
    width: 30%;
    height: 70%;
    display: inline;
    margin: 0;
}
h1, h2{
  border: 2px solid rgb(0, 166, 255);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
 
  box-shadow: 5px 5px 10px  rgba(0, 200, 255, 0.705);
}
h2{
  display: inline;
}
.more{
    width: 130px;
    height: 25px;
    background: linear-gradient(45.00deg, rgba(110, 58, 255, 0.726),rgba(2, 186, 219, 0.826) 100%);
    color: white;
    border-radius: 15px;
    border: 0;
}
